#search-input{
    width: 350px;
}
#searchForm{
    display: flex;
    margin-left: 40px;
}
#submitButton{
    margin:10px;
}
#antContainer{
    display: flex;
    align-items: center;
}
#header{
    text-align: center;
}
#addTrailBtn{
    margin:10px;
}
#trailAdded{
    position:absolute;
}
@media only screen and (max-width: 1100px) {
    #searchForm{
        margin-left: 0px;
        margin-top:10px;
        flex-direction: column;
    }
    #search-input{
        width: 280px;
    }
    #submitButton{
        
    }
    #antContainer{
        display: flex;
        flex-direction: column;
    }
    #AntForm{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        max-width: 320px;
        
    }
    #trailAdded{
        position:relative;
        margin-top: -10px;
    }
    #newTrailName{
        max-width: 100px;
        visibility: hidden;
    }
}