.Spinner{
  z-index: 99;
  position: fixed;
  margin:auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

a {
  color: #FFF;
  text-decoration: none;
  font-weight: bolder;
}
#usernameDisplay{
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}